header{background-color: rgb(133, 133,133);
    color:white;
    font-weight:bold;
    margin:0;
    padding: 20px;            
}
.a div{
    display:inline-flex;
}
.b div{
    display:inline-flex;
}
.c div{
    display:inline-flex;
}
.d div{
    display:inline-flex;
}
.e div{
    display:inline-flex;
}
.long{
    
    border-style: solid;
    border-width:1px;
    border-color: rgb(234, 234, 234);
}
.list{
    background-color:rgb(214, 214, 214);
    height:100px;
    width:110px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
}
.base1{font-weight:bold;margin-right: 10px;}
.base2{margin-right:30px}